@model IEnumerable<DATA.Entity.Khachhang>

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<h2>DanhSach</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m =>m.ID)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.NamSinh)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.SoTien)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Active)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.ID)
        </td>
        <td>
            @Html.DisplayFor(m => item.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(m => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(m => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(m => item.NamSinh)
        </td>
        <td>
            @Html.DisplayFor(m => item.SoTien)
        </td>
        <td>
            @Html.DisplayFor(m => item.Active)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
