@model DATA.Entity.Khachhang

@{
    ViewBag.Title = "Thêm mới khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">
            Thêm mới
        </h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        　   
        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Tên Khách Hàng</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ngày sinh</label>
                <div class="col-md-10">
                    <input class="form-control" type="date" value="@string.Format("0:yyyy-MM-dd",Model.NgaySinh)" name="NgaySinh" />
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Địa chỉ</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Năm sinh</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamSinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamSinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Số Tiền</label>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoTien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoTien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu Thêm Mới" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
